* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none !important;
  scroll-behavior: smooth;
  list-style: none;
}
.button a {
  background: var(--bg-orange);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
}
body {
  display: flex;
}
:root {
  --text-color: #ffffff;
  --bg-color: #222222;
  --bg-orange: rgb(210, 139, 7);
}
html {
  font-size: 70%;
}
/* nav-bar */
.menu-left {
  width: 30rem;
  height: 100vh;
  background: #333333;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}
.logo {
  text-align: center;
}
.logo a {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 400;
}
.logo i {
  color: rgb(186, 138, 49);
  font-size: 5rem;
  font-weight: 500;
  background: #ffffff;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.menu {
  margin: 3rem 0.5rem;
  display: flex;
  flex-direction: column;
}
.menu a {
  font-size: 1rem;
  color: var(--text-color);
  text-transform: uppercase;
  padding: 1rem;
  margin-top: 0.5rem;
}
.active {
  background: var(--bg-orange);
  border-radius: 4px;
  font-size: 1.5rem !important;
}
.menu a i {
  float: right;
  font-size: 2rem;
}
.nav-end {
  padding: 0 0.5rem;
}
.btn a {
  background: var(--bg-orange);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
}
/* end nav-bar */

/* home page-right */
.wrapper {
  width: 150rem;
  height: 100vh;
  background: var(--bg-color);
}
/* slider */
.slides {
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
/* end slider */

/* search */
.search {
  position: relative;
  padding: 3rem;
  text-align: center;
}

.search input {
  background: rgb(0, 0, 0);
  color: var(--text-color);
  font-size: 1.5rem;
  margin-right: 0.75rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.open-button {
  position: absolute;
  width: 25px;
  height: 25px;
  background: rgb(0, 0, 0);
  pointer-events: none;
  margin-left: -40px;
  margin-top: 0.4rem;
}
.open-button i {
  color: var(--text-color);
  font-size: 2.5rem;
  cursor: pointer;
}

.search input:nth-child(1) {
  font-weight: 300;
  width: 30rem;
}
.button {
  background: var(--bg-orange);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
}
/* end search */
